﻿@using HeyRed.MarkdownSharp
@model ACHelperBot.Models.DecalExport
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Decal export</title>
	<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <style>
        h1, h2, h3 {
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 0px;
        }
        .warnings {
            color: lightyellow;
        }

        .errors {
            color: lightcoral;
        }

        .tips {
            color: lightseagreen;
        }

        .out-of-date-plugins, .decal-update {
            color: lightsalmon;
        }
    </style>
</head>
<body>
    @{
        Markdown mark = new Markdown(new MarkdownOptions() {
            
        });
        var fields = Model.Response.EmbedFields;
        fields.Sort((a, b) => b.Priority.CompareTo(a.Priority));
    }

    @if (fields.Count() > 0) {
        @foreach (var x in fields) {
            <h3 class="@(x.Title.Replace(" ", "-").ToLower())">@x.Title</h3>
            
            @foreach (var b in x.LineItems) {
                WriteLiteral(mark.Transform(b.Text)); 
            }
        }
    }

    <h2>Plugins</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Install Directory</th>
                <th>Version</th>
            </tr>
        </thead>
        @foreach (var plugin in Model.Plugins) {
            <tr style="@(plugin.Enabled == 1 ? "" : "text-decoration: line-through;")">
                <td>@plugin.Name</td>
                <td>@plugin.Location</td>
                <td>@plugin.Version</td>
            </tr>
        }
    </table>

    <h2>Network Filters</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Install Directory</th>
                <th>Version</th>
            </tr>
        </thead>
        @foreach (var plugin in Model.NetworkFilters) {
            <tr style="@(plugin.Enabled == 1 ? "" : "text-decoration: line-through;")">
                <td>@plugin.Name</td>
                <td>@plugin.Location</td>
                <td>@plugin.Version</td>
            </tr>
        }
    </table>

    <h2>Services</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Install Directory</th>
                <th>Version</th>
            </tr>
        </thead>
        @foreach (var plugin in Model.Services) {
            <tr style="@(plugin.Enabled == 1 ? "" : "text-decoration: line-through;")">
                <td>@plugin.Name</td>
                <td>@plugin.Location</td>
                <td>@plugin.Version</td>
            </tr>
        }
    </table>

    <h2>Surrogates</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Install Directory</th>
                <th>Version</th>
            </tr>
        </thead>
        @foreach (var plugin in Model.Surrogates) {
            <tr style="@(plugin.Enabled == 1 ? "" : "text-decoration: line-through;")">
                <td>@plugin.Name</td>
                <td>@plugin.Location</td>
                <td>@plugin.Version</td>
            </tr>
        }
    </table>

    <h2>Input Actions</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Install Directory</th>
                <th>Version</th>
            </tr>
        </thead>
        @foreach (var plugin in Model.InputActions) {
            <tr style="@(plugin.Enabled == 1 ? "" : "text-decoration: line-through;")">
                <td>@plugin.Name</td>
                <td>@plugin.Location</td>
                <td>@plugin.Version</td>
            </tr>
        }
    </table>

    <h2>OS</h2>
    <table>
        <tr>
            <td>Windows Version</td>
            <td>@Model.OperatingSystem</td>
        </tr>
        <tr>
            <td>Has Admin</td>
            <td>@Model.UserIsInAdministratorsGroup</td>
        </tr>
    </table>

    <h2>Decal</h2>
    <table>
        <tr>
            <td>Version</td>
            <td>@Model.DecalVersion</td>
        </tr>
        @foreach (var x in Model.DecalSettings.GetType().GetProperties()) {
            <tr>
                <td>@x.Name</td>
                <td>@x.GetValue(Model.DecalSettings)</td>
            </tr>
        }
    </table>

    <h2>DirectX Libraries</h2>
    <table>
        <thead>
            <tr>
                <th>Version</th>
                <th>Installed</th>
            </tr>
        </thead>
        @foreach (var x in Model.D3DXLibraries.Libraries) {
            <tr>
                <td>@x.Name</td>
                <td>@(x.Installed ? x.InstalledVersion : "Not Installed")</td>
            </tr>
        }
    </table>

    <h2>DotNet Frameworks</h2>
    <table>
        <thead>
            <tr>
                <th>Version</th>
                <th>Installed</th>
            </tr>
        </thead>
        @foreach (var x in Model.DotNetFrameworks.Frameworks) {
            <tr>
                <td>@x.Name</td>
                <td>@(x.Installed ? "Installed" : "Not Installed")</td>
            </tr>
        }
    </table>

    <h2>Raw</h2>
    <pre>@Model.Text</pre>
</body>
</html>