﻿@using System.Text
@using Newtonsoft.Json
@model ACHelperBot.Services.PcapViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCap Viewer</title>
    <link rel="stylesheet" href="//cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/luna-object-viewer/luna-object-viewer.css" />
    <script src="//cdn.jsdelivr.net/npm/luna-object-viewer/luna-object-viewer.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/@@finos/perspective/dist/cdn/perspective.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/@@finos/perspective-viewer/dist/cdn/perspective-viewer.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/@@finos/perspective-viewer-datagrid/dist/cdn/perspective-viewer-datagrid.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/@@finos/perspective-viewer-d3fc/dist/cdn/perspective-viewer-d3fc.js"></script>

    <link rel="stylesheet"
          crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@@finos/perspective-viewer/dist/css/pro-dark.css" />
    <style>
        h1, h2, h3 {
            margin-bottom: 10px;
        }

        body {
            margin: 0;
            padding: 0;
        }

        html body > * {
            grid-column: 1;
            grid-column-end: 4;
        }

        html, body, body > div {
            height: 100%;
            width: 100%;
        }

        html body #messages {
            height: 100%;
            width: 100%;
        }

        table {
            margin: 0;
        }

        .split {
            display: flex;
            flex-direction: row;
        }

        .gutter {
            background-color: #343434;
            background-repeat: no-repeat;
            background-position: 45%;
        }

            .gutter.gutter-horizontal {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
                cursor: col-resize;
            }

            #two {
            padding: 20px;
            }
    </style>
    <script src="//unpkg.com/split.js@@1.6.5/dist/split.min.js"></script>
    <script type="text/javascript">
        const data = @{ WriteLiteral(JsonConvert.SerializeObject(Model)); };
    </script>
</head>
<body class="theme-dark">
    <div class="split">
        <div class="split" id="one">
            <perspective-viewer id="messages" theme="Pro Dark"></perspective-viewer>
        </div>
        <div class="split" id="two">
            Click a message to view its contents.
        </div>
    </div>
    <script type="text/javascript">
        Split(['#one', '#two'], {
            // options here
            minSize: 100
        });
        const container = document.getElementById(`two`)
        const objectViewer = new LunaObjectViewer(container, {
            unenumerable: false,
            accessGetter: true,
            theme: 'dark'
        })
        objectViewer.setOption("theme", "dark");

        function handleResize() {
            
        }

        handleResize();
        document.addEventListener("resize", handleResize);
    </script>
    <script type="module">
        import perspective from "https://cdn.jsdelivr.net/npm/@@finos/perspective/dist/cdn/perspective.js";
        const schema = {
            Id: "integer",
            Time: "string",
            Direction: "string",
            Type: "string"
        };
        const worker = perspective.worker();
        const table = await worker.table(schema);
        table.update(data.Messages);
        const messagesEl = document.getElementById("messages");
        messagesEl.resetThemes();
        messagesEl.resetThemes(["Pro Dark"]);
        messagesEl.load(table);
        messagesEl.restore({
            columns: ["Id", "Time", "Direction", "Type"],
            sort: [["Id", "asc"]]
        });
        messagesEl.addEventListener("perspective-click", function (event) {
            objectViewer.set(data.Messages[event.detail.row.Id])
        });
    </script>
</body>
</html>